@require '../global';

.beer-list-group{
  max-width: 1170px;
  margin: 4em auto;
  overflow: auto;
    padding-bottom: 3em;
  .beer-card{
    box-shadow: 1px 0 19px #e0e0e0;
    box-sizing: content-box;
    float: left;
    width: 23%;
    margin: 0 1%;
    background: white;
    .image-holder{
      img{
        width: 100%;
      }
    }
    .card-content{
      padding: 1em;
      h3{
        font-size: 1em;
        text-transform: uppercase;
        color: #777;

      }
    }
  }
}
