@require '../global';

.age-verification-form{
  padding: 2em;
  .age-form-group{
    padding: 2em;
    clear: both;
    select{
      width: 32%;
      margin-right: 1%;
      float: left;
    }
  }
  .button-row{
    clear:both;
    padding: 3em;
    width: 400px;
    margin: 0 auto;
    button{
      display: inline;
      padding: 1em 4em;
      text-transform: uppercase;
      border-radius: 2px;
      background-color: rgba(125,125,125,0.8);
      border: 1px solid #fff;
      width: 48%;
      color: #ccc;
      float:left;
      &.pull-right{
        color: #fff;
      }
    }
  }
}
