$icon-font-path = '~bootstrap-styl/fonts/';

@import bootstrap;

$white = #fff;
$black = #0F0F0F;
$background-color = $white;
$default-text-color = $black;
$nav-background-color = $black;
$primary-color = #428bca;
$success = #5cb85c;
$dark-blue = #01579b;
$lighter-gray = #e0e0e0;
$lightest-gray = #eee;
$danger-red = #F44336;
$red = #c00;


$primaryfont = 'Poppins', sans-serif;
$secondaryfont = 'Roboto', sans-serif;
