// Main Style File bootstrap is used as the default lib for front end
// If you would like to override styles you must set vars first prior to loading BS
// http://getbootstrap.com/customize/#less-variables is a list of the less-vars
// Substitute a $ for the @ symbol in order to use in stylus

$icon-font-path = '~bootstrap-styl/fonts/';

@import bootstrap;
$background-color = #fff;
$default-text-color = #1b1b1b;

body{
  background: $background-color;
  color: $default-text-color;
  margin: 0;
  padding: 0;
}
.relative{
  position: relative;
  background: red;
  width: 100%;
  height: 250px;
  &.blue{
    background: blue;
  }
}
.absolute{
  width: 60%;
  background: black;
  position:absolute;
  bottom: 5%;
  right: 5%;
  padding: 2em;
  &.yellow{
    background: yellow;
  }
}
.float{
  background: black;
  float: right;
  padding: 2em;
  margin-top: 65px;
  margin-right: 50px;
  width: 60%;
}
h1{
  color: white;
  margin: 0;
}
img{
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.block{
  padding: 1em;
  background: orange;
  width: 48%;
  margin: 1%;
  float: left;
  &.purple{
    background: purple;
    height: 50px;
  }
}

.fixed{
  width: 70%;
  background: green;
  position: fixed;
  bottom: 15%;
  height: 500px;
  left: 25%;
  padding:1em;
}
